{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
<div class="row">
    <div class="col-sm-6">
        <h2>Cadastro</h2>
        <form action="{% url 'core_tipo_de_profissional_novo' %}" method="POST">
            {% csrf_token %}
        
            {{ form|bootstrap }}
        
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-6">
        <h2>Lista Tipos de Profissionais</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>                   
                    <th scope="col">Descrição</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Atualização</th>
                    <th scope="col">Criação</th>
                    <th scope="col"></th>
                </tr>
            </thead>       
            <tbody>
                {% for tipoDeProfissional in tipoDeProfissionais %}
                <tr>
                    <td>
                        <a href="{% url 'core_tipo_de_profissional_update' tipoDeProfissional.id %}">{{tipoDeProfissional.id}}</a>
                    </td>
                    <td>{{tipoDeProfissional.descricao}}</td>
                    <td>{{tipoDeProfissional.situacao}}</td>
                    <td>{{tipoDeProfissional.updatedAt}}</td>
                    <td>{{tipoDeProfissional.createdAt}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
